<div style="background-color:#f3f3f2">
  <p>
    bind-main works!
  </p>
  <div style="background-color:#e6d3f8">
    <app-event-bind></app-event-bind>
  </div>
  <div style="background-color:#e0c3fa">
    <app-attribute-bind></app-attribute-bind>
  </div>
  <div style="background-color:#d8adfd">
    <app-dom-attribute-bind></app-dom-attribute-bind>
  </div>
  <div style="background-color:#cc92ff">
    <app-html-attribute-bind></app-html-attribute-bind>
  </div>
  <div style="background-color:#c27dff">
    <app-two-way-bind></app-two-way-bind>
  </div>
  <div style="background-color:#9f31ff">
    <app-observable-demo></app-observable-demo>
  </div>
</div>