<div>
  <h3>xias表单校验</h3>
  <h5>状态字段</h5>
  <h5>touched（触碰过）, untouched（未触碰过）</h5>
  <h5>pristine（值从来没有被改变过）, dirty（值已经被改变过）</h5>
  <h5>pending（正在进行校验）</h5>
  <h5>Angular会对表单中处于不同状态的项目加不同的样式，可以根据自己的要求改写。</h5>
  <h5>如:hasError,ng-valid,ng-pristine,ng-touched等</h5>
</div>
<form [formGroup]="formModel" (submit)="onSubmit()">
  <div style="margin: 10px"><label>用户名：</label><input formControlName="userName" class="form-control"
      [class.hasError]="formModel.get('userName').invalid && formModel.get('userName').touched" type="text"></div>
  <div [hidden]="myForm.form.get('userName').valid || myForm.form.get('userName').untouched">
    <div [hidden]="!formModel.hasError('required', 'userName')">
      用户名是必填项
    </div>
  </div>
  <div style="margin: 10px"><label>电话：</label><input formControlName="telphoneNumber" class="form-control"
      [class.hasError]="formModel.get('telphoneNumber').invalid && formModel.get('telphoneNumber').touched" type="text">
  </div>
  <div [hidden]="!formModel.hasError('minlength', 'telphoneNumber')">
    请输入六位以上数字
  </div>
  <div formGroupName="passwordGroup">
    <div style="margin: 10px"><label>密码：</label><input formControlName="password" class="form-control" type="password">
    </div>
    <div [hidden]="!formModel.hasError('minlength', ['passwordGroup', 'password'])">
      请输入六位以上数字
    </div>
    <div style="margin: 10px"><label>确认密码：</label><input formControlName="confirmPassword" class="form-control"
        type="password"></div>
    <div [hidden]="!formModel.hasError('minlength', ['passwordGroup', 'confirmPassword'])">
      请输入六位以上数字
    </div>
  </div>
  <div [hidden]="!formModel.hasError('equal', 'passwordGroup')">
    {{formModel.getError('equal', 'passwordGroup')?.descA}}
  </div>
  <div style="margin: 10px"><button class="btn" type="submit">提交</button></div>
</form>