.styleA {
    background-color: rgb(255, 0, 221)
}

.styleB {
    background-color: rgb(85, 56, 252)
}

.styleC {
    background-color: rgb(81, 162, 255)
}

.styleD {
    background-color: rgb(81, 255, 246)
}