<hr>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input type="text" placeholder="请输入商品名称" class="form-control" [formControl]="titleFilter">
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let product of products | filter:'title':keyword" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img [src]="imgUrl" alt="productInfo">
      <div class="caption">
        <h5><a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active">{{product.title}}</a></h5>
        <p>{{product.price}}元</p>
        <p><small class="text-muted">{{product.desc}}</small></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
            role="button">Button</a></p>
      </div>
      <div>
        <app-stars [rating]="product.rating"></app-stars>
      </div>
    </div>
  </div>
</div>