
<h1>基本的依赖注入样例</h1>
<div style="background-color:#c8c2c6">
    <app-product1></app-product1>
</div>
<hr>
<div style="background-color:#a6a5c4">
    <app-product2></app-product2>
</div>
<hr>

<h1>工厂模式的依赖注入样例</h1>
<h2>(工厂模式注入的对象是单例的)</h2>
<div style="background-color:#a69abd">
    <app-product3></app-product3>
</div>
<div style="background-color:#a69abd">
    <app-product4></app-product4>
</div>
<div style="background-color:#a69aab">
    <app-product5></app-product5>
</div>
<div style="background-color:#a69aab">
    <app-product6></app-product6>
</div>
<div style="background-color:#a69add">
    <app-product7></app-product7>
</div>
<div style="background-color:#a69add">
    <app-product8></app-product8>
</div>
